
<div class="col-sm-9">
	<form class="form-horizontal" novalidate #form="ngForm" (ngSubmit)="onSubmit()" *ngIf="active">
		<fieldset>
			<legend>Wine details</legend>
			<div class="form-group" [ngClass]="{'has-error': name.invalid && name.touched}">
				<label for="name" class="col-sm-3 control-label">Name</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" #name="ngModel" id="name" name="name" placeholder="Wine name" [(ngModel)]="newWine.name"
						required>
					<span class="help-block" *ngIf="name.invalid && name.touched">Name is required.</span>
				</div>

			</div>
			<div class="form-group" [ngClass]="{'has-error': year.invalid && year.touched}">
				<label for="year" class="col-sm-3 control-label">Year</label>
				<div class="col-sm-9">
					<input type="number" class="form-control" #year='ngModel' id="year" name="year" placeholder="Year" [(ngModel)]="newWine.vintage"
						required>
					<span class="help-block" *ngIf="year.invalid && year.touched">Year is required.</span>
				</div>
			</div>
			<div class="form-group" [ngClass]="{'has-error': country.invalid && country.touched}">
				<label for="country" class="col-sm-3 control-label">Country</label>
				<div class="col-sm-9">
					<!--<input type="text" class="form-control" #country='ngModel' id="country" name="country" placeholder="Start typing a country name"
						[(ngModel)]="newWine.country" required>-->
					<select class="form-control" name="country" #country='ngModel' id="country" required 
					[(ngModel)]="newWine.country"
					(change)="onCountryChange($event.target.value)">
                        <option *ngFor="let c of countries" [value]="c.id">{{c.name}}</option>
                    </select>
					<span class="help-block" *ngIf="country.invalid && country.touched">Country is required.</span>
				</div>
			</div>
			<div class="form-group">
				<label for="region" class="col-sm-3 control-label">Region</label>
				<div class="col-sm-9">
					<!--<input type="text" class="form-control" #country='ngModel' id="country" name="country" placeholder="Start typing a country name"
						[(ngModel)]="newWine.country" required>-->
					<select class="form-control" name="region" #region='ngModel' id="region" 
					[(ngModel)]="newWine.region">
                        <option *ngFor="let r of regions" [value]="r.id">{{r.name}}</option>
                    </select>
				</div>
			</div>

<!--TO DO NEXT - REGOIN BASED ON COUNTRY CHOSEN-->

			<div class="form-group" [ngClass]="{'has-error': colour.invalid && colour.touched}">
				<label for="colour" class="col-sm-3 control-label">Colour</label>
				<div class="col-sm-9">
					<select class="form-control" name="colour" #colour='ngModel' id="colour" required [(ngModel)]="newWine.colour">
                        <option *ngFor="let c of colours" [value]="c">{{c}}</option>
                    </select>
					<span class="help-block" *ngIf="colour.invalid && colour.touched">Colour is required.</span>
				</div>
			</div>
			<div class="form-group">
				<label for="shortDesc" class="col-sm-3 control-label">Description</label>
				<div class="col-sm-9">
					<textarea class="form-control" rows="3" id="shortDesc" name="shortDesc" [(ngModel)]="newWine.shortDesc"></textarea>
					<span class="help-block">Optional but useful.</span>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-9 col-sm-offset-3">
					<button type="reset" class="btn btn-default" [routerLink]="['/wines']">Cancel</button>
					<button type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit</button>
				</div>
			</div>
		</fieldset>
	</form>
</div>
